@charset 'utf-8';
/* CSS reset */
*{font-family:"微软雅黑",verdana, arial, helvetica, sans-serif;font-size: 1em;}
html,body{width:100%;height:100%;color:#000;-webkit-user-select:none;-webkit-text-size-adjust:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,label,form,input,button,textarea,p,section,strong,a{padding:0;margin:0;}
img{border:0;}
a{text-decoration: none; color:#FFF;}/*此处待添加默认链接颜色*/
var,em,strong{font-style:normal;font-weight:normal;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
input,button,textarea,select{font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;outline:none;}
input,button,textarea,select{*font-size:100%;}
*:link,*:visited,*:hover,*:active{-webkit-tap-highlight-color:transparent;}
/************************** main style ***************************/
/**** clear float style ****/
.fix{*zoom:1;}
.fix:after{
	display:block;
	content:"clear"; 
	height:0; clear:both;
	overflow:hidden;
	visibility:hidden;
}
.none{
	display: none;
}
.wrap{
	width: 100%;
}

html,body {
	background: #040204;
}
.wrap {
	position: relative;
	width: 100%;
	height: 100%;
}
.page{
	position: relative;
	width: 100%;
	height: 100%;
}
/***********loading提示***************/
.loading {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	background: #000;
}
.loading img.loading1 {
	position: absolute;
	top: 31%;
	left: 21%;
	width: 60%;
}
.loading div {
	position: absolute;
	top: 29%;
	left: 25%;
	width: 50%;
}
.loading img {
	width: 100%;
}
.loading p {
	position: relative;
	margin-top: -45%;
	text-align: center;
	font-size: 0.5rem;
	color: #282828;
}

/***********箭头提示图标***************/
.tips {
	position: absolute;
	bottom: 6%;
	left: 45.6%;
	z-index: 200;
	width: 8.8%;
	-webkit-animation: start 1.2s infinite linear;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes start {
	0%,30% {
		opacity: 0;
		-webkit-transform: translate(0,10px)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate(0,0)
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(0,-8px)
	}
}

.tipp {
	position: absolute;
	bottom: 6%;
	left: 45.6%;
	z-index: 200;
	width: 8.8%;
}

/***********滑动***************/
.swiper-container{
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	width: 100%;
	float: left;
}
.page img {
	position: absolute;
}

/***********二级滑动***************/
.device {
	position: absolute;
	top: 65%;
	left: 0%;
	width: 100%;
	height: 14.8%;
}
.device .arrow-left {
  position: absolute;
  left: 10px;
  top: 76%;
  margin-top: -30px;
  width: 5%;
  border:none;
  display: block;
  z-index: 999;
}
.device .arrow-right {
  position: absolute;
  right: 10px;
  top: 76%;
  margin-top: -30px;
  width: 5%;
  z-index: 999;
}
.device .swiper-slide {
	position: relative;
	width: 100%;
}
.device .swiper-slide div {
	height: 104px;
	overflow: hidden;
}
.device .swiper-slide img {
	position: static;
	width: 96%;
	/*height: 79%;*/
	/*height: 96px;*/
	padding: 2%;
	display: inline-block;

}
.swiper-pagination-switch {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background: transparent;
  border:1px solid #E0D7E0;
  margin: 0 3px;
  cursor: pointer;
}

/***********page1***************/
.btm,.page8 p {
	position: absolute;
	bottom: 5px;
	width: 100%;
	text-align: center;
	left: 0;
	font-size: 0.7rem;
	color: #636363;
}
.page1 {
	background: url(../img/page1_img3.jpg) no-repeat center;
	background-size: cover;
}
.page1 .car {
	top: 34%;
	left: 18.5%;
	width: 63%;
	-webkit-transition: all 1s linear;
	z-index: 3;
}
.page1 .text {
	top: 57%;
	left: 0;
	width: 100%;
}

/***********page2***************/
.page2 {
	background: url(../img/page2_img3.jpg) no-repeat center;
	background-size: cover;
}
.page2 .car {
	top: 38.3%;
	right: 6.9%;
	width: 74%;
	-webkit-transition: all 0.5s linear;
}
.page2 .text {
	top: 61%;
	left: 0;
	width: 100%;
	-webkit-transition: all 0.5s linear;
	opacity: 0;
}

/***********page3***************/
.page3 {
	background: url(../img/page3_img3.jpg) no-repeat left 20%;
	background-size: cover;
	background-position: 0% 75%;
}
.page3 .big {
	position: absolute;
	top: 10.6%;
	left: 0;
	width: 46%;
}
.page3 .big img {
	width: 100%;
}
.page3 .small {
	position: absolute;
	top: 28%;
	right: 10%;
	width: 24.2%;
}
.page3 .small img {
	width: 100%;
}
.page3 .text {
	top: 64.5%;
	left: 0;
	width: 100%;
	-webkit-transition: all 1s linear;
}
.page3 .zhin {
	top: 17.5%;
	left: 47.5%;
	width: 19.5%;
}
.page3 .jingj {
	top: 22.3%;
	right: 15.6%;
	width: 13.5%;
}
.page3 .safe {
	top: 32%;
	left: 40.3%;
	width: 15.2%;
}
.page3 .huanb {
	top: 34.2%;
	left: 15%;
	width: 16%;
}
.page3 .flash {
	left: 0%;
	bottom: 43px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 0.7rem;

}

/************page4*************/
/*.page4 {
	background: url(../img/page4_img3.jpg) no-repeat;
	background-size: cover;
}*/
.page4 .text {
	top: 60%;
	left: 0;
	width: 100%;
	z-index: 4;
}
.page4 .btn {
	top: 78%;
	left: 36.3%;
	width: 27.5%;
	padding: 5%;
	z-index: 5;
}
.page4 .road {
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transition: all 3s ease-in;
}
.page4 .car {
	top: 6%;
	left: 0;
	width: 100%;
}


/************page5*************/
.page5 {
	background: url(../img/bridges.jpg) no-repeat center center;
	background-size: cover;
	z-index: 3;
}
.page5 .car {
	position: absolute;
	top: 30%;
	left: -40%;
	width: 39.2%;
	z-index: 15;
	-webkit-transition: all 3s linear;
}
.page5 .text {
	top: 60%;
	left: 0;
	width: 100%;
}
.page5 div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	/*background: rgba(0,0,0,0.7);*/
	/*-webkit-transition: all 2s linear;*/
}
.page5 div img {
	position: static;
	width: 100%;
	margin-top: 50%;
	-webkit-transition: all 2s ease-out;
}
/*.page5 div p {
	width: 100%;
	margin-top: 80%;
	text-align: center;
	color: #fff;
	font-size: 0.8rem;
	
}*/

/************page6*************/
.page6,.page7 {
	background: url(../img/page6_img3.jpg) no-repeat bottom;
	background-size: cover;
}
.page6 .car {
	top: 54.7%;
	right: 3%;
	width: 88%;
	-webkit-transition: all 0.7s linear;
}
.box {
	position: relative;
	width: 100%;
	margin-top: 13.4%;
}
.box .text {
	position: static;
	width: 100%;
}
.box span {
	position: absolute;
	left: 20.3%;
	width: 58%;
	height: 12.5%;
	background: url(../img/page6_btn.png) no-repeat 0.3rem;
	background-size: 1.4rem;
	-webkit-transform: rotate(-10deg);
}
.box .one {
	top: 40%;
}
.box .two {
	top: 60%;
}
.box .thr {
	top: 80.5%;
}
.box span.current {
	background: url(../img/page6_radio.png) no-repeat 0.3rem;
	background-size: 1.4rem;
}
/*.page6 .oa {
	left: 33%;
}*/

/************page7*************/
.page7 .text,.page7 .text5,.page7 .text4 {
	top: 8.1%;
	left: 0;
	width: 100%;
}
.page7 .bg {
	position: absolute;
	top: 31.8%;
	left: 20.3%;
	width: 63.3%;
}
.page7 .line {
	position: static;
	width: 100%;
}
.page7 .one,.page7 .two,.page7 .thr {
	bottom: 0;
	left: 10%;
	width: 21%;
	z-index: 5;
	-webkit-transition: all 0.3s linear;
}
.page7 .two {
	left: 38%;
	width: 24.5%;
}
.page7 .thr {
	left: 66%;
	width: 34.5%;
}
.page7 .bg div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 101%;
	overflow: hidden;
}
.page7 .car {
	top: 60.5%;
	right: 3%;
	width: 80%;
	-webkit-transition: all 1s linear;
}

.page7 .bg div.bar_one {
	position: absolute;
	bottom: 10%;
	left: 10%;
	width: 25.2%;
	height: 3.9%;
	background: #3993cd;
}
.page7 .bg div.bar_two {
	position: absolute;
	bottom: 10%;
	left: 40%;
	width: 25.2%;
	height: 3.9%;
	background: #3993cd;
}
.page7 .bg div.bar_thr {
	position: absolute;
	bottom: 10%;
	left: 65%;
	width: 25.2%;
	height: 3.9%;
	background: #3993cd;
}


/************page8*************/
.page8 .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
/*	background: url(../img/page8_img6.jpg) no-repeat center;
	background-size: cover;*/
}
.page8 .ab {
	position: static;
	width: 100%;
}
.page8 div img {
	position: static;
	width: 100%;
}
.page8 .one {
	position: absolute;
	top: 6%;
	left: 0;
	width: 100%;
}
.page8 .two {
	position: absolute;
	top: 47%;
	left: 0;
	width: 45%;
}
.page8 .thr {
	position: absolute;
	top: 88%;
	right: 0;
	width: 45%;
}
.page8 .dot1,.page8 .now1 {
	position: absolute;
	top: 12%;
	left: 4%;
	width: 17.5%;
}
.page8 .dot2,.page8 .now2 {
	position: absolute;
	top: 46%;
	left: 4%;
	width: 17.5%;
}
.page8 .dot3,.page8 .now3 {
	position: absolute;
	bottom: 16%;
	left: 60%;
	width: 17.5%;
}

.page8 .aa {
	position: static;
	width: 130%;
}
.page8 div.t {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 1;
	overflow: hidden;
}
.page8 div.t div {
	margin-top: 34%;
}
.page8 div.t .text {
	position: static;
	display: block;
	width: 30%;
	text-align: center;
}
.page8 div.t .fore {
	position: relative;
	z-index: 100;
	width: 100%;
	text-align: center;
	/*-webkit-animation: light1 2s ease-in-out infinite;*/
	opacity: 1
}
.page8 div.t .behand {
	position: relative;
	z-index: 100;
	width: 39%;
	text-align: center;
	margin-top: -20%;
	margin-left: 30.5%;
	-webkit-transform: rotate(180deg);
	/*-webkit-animation: light2 2s ease infinite;*/
	opacity: 1
}
.page8 .t .guang1 {
	position: static;
}
.page8 .t .guang2 {
	position: static;
}
@-webkit-keyframes light1{
	0%{ opacity: 0}
	50% {opacity: 0.7}
	100%{ opacity: 0.8}
}
@-webkit-keyframes light2{
	0%{ opacity: 0}
	45% {opacity:0}
	100%{ opacity: 0.8}
}

.page8 div img.cont {
	position: absolute;
	top: 21.6%;
	left: 24.6%;
	width: 53%;
}
.page8 span {
	position: absolute;
	width: 15%;
	height: 8%;
	border-radius: 50%;
	background: rgba(255,255,255,0.5);
}
.page8 .point1 {
	top: 37%;
	left: 20%;
}
.page8 .point2 {
	top: 37%;
	right: 20%;
}
.page8 .point3 {
	top: 77%;
	left: 42%;
}
.page8 .dots1 {
	position: absolute;
	top: 85%;
	left: -33%;
	width: 170%;
}
.page8 .dots2 {
	position: absolute;
	top: -25%;
	left: 12%;
	width: 2.5%;
}

/************page9*************/
.page9 {
	background: url(../img/page9_img1.jpg) no-repeat center;
	background-size: cover;
}
.page9 .car {
	top: 47.4%;
	right: 2%;
	width: 88%;
	-webkit-transition: all 0.5s linear;
}
.cont {
	position: absolute;
	top: 7.6%;
	left: 5%;
	width: 66%;
}
.page9 .cont img,.page10 .cont img,.page11 .cont img {
	position: static;
	width: 100%;
}
.know {
	padding: 1rem 0;
	color: #fff;
	font-size: 1rem;
	text-indent: 0.8rem;
	background: url(../img/page9_img3.png) no-repeat 0;
	background-size: 0.5rem;
}

/************page10*************/
.page10 {
	background: url(../img/page10_img1.jpg) no-repeat center;
	background-size: cover;
}
.device .swiper-slide img.search {
	position: absolute;
	bottom: 7%;
	left: 10%;
	width: 10%;
	height: 16%;
}

/************page11*************/
.page11 {
	background: url(../img/page11_img4.jpg) no-repeat center;
	background-size: cover;
}

/************page12*************/
.page12 {
	background: url(../img/page12_img2.jpg) no-repeat center;
	background-size: cover;
}
.page12 .text {
	top: 40.5%;
	left: 0;
	width: 100%;
}

.page12 div {
	position: absolute;
	bottom: 0;
	left: 0%;
	width: 100%;
}
.page12 .bg {
	position: static;
	display: block;
	width: 100%;
}
.page12 .name {
	position: absolute;
	top: 1.5%;
	left: 10%;
	width: 36%;
	padding: 1%;
	border: none;
	background: none;
	color: #fff;
	font-size: 0.8rem;
}
.page12 .tel {
	position: absolute;
	top: 1.5%;
	left: 54%;
	width: 36%;
	padding: 1%;
}
.page12 .name input,
.page12 .tel input {
	width: 100%;
	border: none;
	background: none;
	color: #fff;
	font-size: 0.8rem;
	outline: none;
	display: block;
}
.page12 .provice {
	position: absolute;
	top: 22%;
	left: 10%;
	width: 36%;
	height: 14%;
	font-size: 0.8rem;
	opacity: 0;
	z-index: 10;

}
.page12 .city {
	position: absolute;
	top: 22%;
	left: 54%;
	width: 36%;
	height: 14%;
	font-size: 0.8rem;
	opacity: 0;
	z-index: 10;

}
.page12 .last {
	position: absolute;
	top: 44%;
	left: 10%;
	width: 80%;
	height: 14%;
	font-size: 0.8rem;
	opacity: 0;
	z-index: 10;

	}
.page12 a {
	position: absolute;
	bottom: 8%;
	left: 8%;
	width: 84%;
	height: 17%;
}
.page12 .meng img {
	position: static;
	width: 90%;
	margin-top: 15%;
	margin-left: 5%;
}
.pone {
	position: absolute;
	top: 22%;
	left: 10%;
	width: 36%;
	height: 2rem;
	line-height: 2rem;
	font-size: 0.8rem;
	color: #fff;
}
.ptwo {
	position: absolute;
	top: 22%;
	left: 54%;
	width: 36%;
	height: 2rem;
	line-height: 2rem;
	font-size: 0.8rem;
	color: #fff;
}
.pthr {
	position: absolute;
	top: 42.5%;
	left: 10%;
	width: 80%;
	height: 2rem;
	line-height: 2rem;
	font-size: 0.8rem;
	color: #fff;
}
.page12 .know {
	position: absolute;
	top: 0;
	right: 9%;
	padding-left: 0.2rem;
	text-align: right;
	background: none;
}








.opa {
	opacity: 0;
}

.out {
	-webkit-transform: scale(0.4) translateY(-20%);
}
.inTout {
	-webkit-transform: scale(0.4) translate(1000px,-200px) rotate(-20deg);
	opacity: 0.4;
}
.text2 {

}
.text3 {
	-webkit-transform: translate(-20%);
	opacity: 0;
}
.scale {
	-webkit-transform: scale(1.5);
}
.transCar {
	-webkit-transform: translate(100%,10%) scale(0.2);
}
.bmTop {
	-webkit-transform: translateY(60%);
}
/*.scaleFast {
	-webkit-transform: scale(3.5) translateY(35%);
}*/

.yb_drag {
	position: absolute;
	top: 0;left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
}




/************半透明蒙版*************/
.mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 2;
}
.stt ul,.tech ul,.global ul {
	margin-top: 39%;
	padding: 0 0.5rem 0 4rem;
	color: #fff;
	font-size: 0.6rem;
	background: url(../img/blueLine.png) no-repeat 0;
	background-size: 3.5rem;
}
.stt li,.tech li,.global li {
	margin-bottom: 0.5rem;

}
.stt ul h2,.tech ul h2,.global ul h2 {
	font-size: 1rem;
}
.cancle {
	position: absolute;
	top: -1rem;
	right: 6%;
	width: 2rem;
	height: 2rem;
	z-index: 100;
	background: url(../img/cancle.png) no-repeat;
	background-size: 2rem;
}

.detail {
	text-align: center;
}
.detail div {
	position: relative;
	margin-top: 180px;
}
.detail img {
	width: 96%;
}
.detail p {
	font-size: 0.6rem;
	text-indent: 2em;
	line-height: 1.2rem;
	color: #fff;
	padding: 1rem;
}
.stt .cancle,.tech .cancle,.global .cancle {
	top: 14%;
}
.page12 .cancle {
	top: 2rem;
}
.success,.woqu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 100;
}
.success div {
	width: 100%;
	margin-top: 45%;
}
.success div img {
	position: static;
	width: 100%;
}
.success .cancle {
	top: 7rem;
}
.woqu img {
	position: static;
	width: 92%;
	margin-left: 4%;
	margin-top: 31%;
}
.page12 .select {
	position: absolute;
	top: 59%;
	left: 9%;
	text-indent: 1.5rem;
	line-height: 2rem;
	font-size: 0.7rem;
	color: #a4a4a4;
	background: url(../img/no.jpg) no-repeat 0;
	background-size: 0.7rem;
}
.page12 .select.chose {
	background: url(../img/yes.jpg) no-repeat 0;
	background-size: 0.7rem;
}
.page12 .select .ch {
	position: absolute;
	top: 17%;
	left: -3%;
	width: 1.5rem;
	height: 1.5rem;
}
.page12 .texs {
	text-decoration: underline;
}
.woqu .cancle {
	top: 5rem;
}
.tp {
	position: absolute;
	top: 5px;
	left: 0;
	width: 100%;
	text-align: center;
	color: #636363;
	font-size: 0.8rem;
}

/************屏幕小屏适配*************/
@media screen and (max-width: 320px) and (max-height: 480px) {
	.page1 .car {
		top: 29%;
	}
	.page3 .flash {
		/*left: 22%;*/
		bottom: 14px;
	}
	.page5 div p {
		margin-top: 55%;
	}
	.page6 .one {
		top: 40%;
		left: 19.5%;
	}
	.page6 .two {
		top: 59.2%;
		left: 19.5%;
	}
	.page6 .thr {
		top: 81%;
		left: 19.5%;
	}
	.page6 .car {
		width: 78%;
	}
	.page7 .text {
		top: 0;
	}
	.page7 .bg {
		top: 24.8%;
		left: 22.3%;
		width: 56.3%;
	}
	.page7 .text, .page7 .text5, .page7 .text4 {
		top: -2.9%;
	}
	.page8 div.t div {
		margin-top: 21%;
	}
	.page8 .ab {
		margin-top: -11%;
	}
	.page8 div img.cont {
		top: 15.6%;
	}
	.page8 .dot1,.page8 .now1 {
		top: 3%;
	}
	.page8 .dot2,.page8 .now2 {
		top: 45%;
	}
	.page8 .dot3,.page8 .now3 {
		bottom: 4%;
	}

	.page10 .cont {
		top: 2.6%;
	}
	.page11 .cont {
		top: 0;
		width: 65%;
	}
	.page12 .text {
		top: 26.5%;
		left: 0;
		width: 100%;
	}
	.page12 .provice {
		top: 27%;
	}
	.page12 .city {
		top: 27%;

	}
	.page12 div {
		bottom: 0;
	}
	.detail div {
		margin-top: 85px;
	}
	.page12 .meng img {
		position: static;
		width: 84%;
		margin-left: 8%;
		margin-top: 0;
	}
	.page12 .cancle {
		top: -0.1rem;
	}
.	success .div {
		top: 35%;
	}
	.success .cancle {
		top: 5rem;
	}
	.woqu img {
		margin-top: 18%;
	}
	.woqu .cancle {
		top: 3rem;
	}
}


/************page3文字漂浮动画*************/
.bigPar{
	-webkit-animation: bigPar 8s linear infinite;	
}
@-webkit-keyframes bigPar{
	0% {
		-webkit-transform: translate(0,-5px) scale(1.1);  
	}
	25%{
		-webkit-transform: translate(0,5px) scale(1.1); 
	}
	50%{
		-webkit-transform: translate(0,0) scale(1.1);  
	}
	75%{
		-webkit-transform: translate(0,5px) scale(1.1);  
	}
	100% {
		-webkit-transform: translate(0,-5px) scale(1.1);  
	}
}
.bigChd{
	-webkit-animation: bigChd 6s linear infinite;	
}
@-webkit-keyframes bigChd{
	0% {
		-webkit-transform: translate(-5px,0) scale(1.1);  
	}
	25%{
		-webkit-transform: translate(5px,0) scale(1.1); 
	}
	50%{
		-webkit-transform: translate(0,0) scale(1.1);  
	}
	75%{
		-webkit-transform: translate(5px,0) scale(1.1);  
	}
	100% {
		-webkit-transform: translate(-5px,0) scale(1.1);  
	}
}

.smallPar{
	-webkit-animation: smallPar 8s linear infinite;	
}
@-webkit-keyframes smallPar{
	0% {
		-webkit-transform: translate(0,5px) scale(1.1);  
	}
	25%{
		-webkit-transform: translate(0,-5px) scale(1.1); 
	}
	50%{
		-webkit-transform: translate(0,0) scale(1.1);  
	}
	75%{
		-webkit-transform: translate(0,-5px) scale(1.1);  
	}
	100% {
		-webkit-transform: translate(0,5px) scale(1.1);  
	}
}
.smallChd{
	-webkit-animation: smallChd 6s linear infinite;	
}
@-webkit-keyframes smallChd{
	0% {
		-webkit-transform: translate(5px,0) scale(1.1);  
	}
	25%{
		-webkit-transform: translate(-5px,0) scale(1.1); 
	}
	50%{
		-webkit-transform: translate(0,0) scale(1.1);  
	}
	75%{
		-webkit-transform: translate(-5px,0) scale(1.1);  
	}
	100% {
		-webkit-transform: translate(5px,0) scale(1.1);  
	}
}
.jump {
	-webkit-animation: jump 2.5s cubic-bezier(0,.73,.74,1)  0.1s;
	-webkit-animation-fill-mode: forwards;
}
/*@-webkit-keyframes jump {
	0% {
		-webkit-transform: translate(0) rotate(-24deg);
	}
	45% {
		-webkit-transform: translate(144%,-147%) rotate(-13deg);
	}
	49% {
		-webkit-transform: translate(156.8%,-149.2%) rotate(-12.5deg);
	}
	50% {
		-webkit-transform: translate(156.8%,-149.2%) rotate(-12.5deg);
	}
	51% {
		-webkit-transform: translate(163.2%,-149.2%) rotate(-11.5deg);
	}
	55% {
		-webkit-transform: translate(176%,-152%) rotate(-11deg);
	}
	100% {
		-webkit-transform: translate(360%,-90%) rotate(0deg);
	}
}*/
@-webkit-keyframes jump {
	0% {
		-webkit-transform: translate(0,-30%) rotate(-20deg);
	}
/*	25% {
		-webkit-transform: translate(104%,-97%) rotate(-20deg);
	}
	29% {
		-webkit-transform: translate(156.8%,-139.2%) rotate(-12.5deg);
	}*/
/*	50% {
		-webkit-transform: translate(180.8%,-90.2%) rotate(-12.5deg);
	}*/
	100% {
		-webkit-transform: translate(360.8%,-110.2%) rotate(-15deg);
		opacity: 0.9
	}
	/*71% {
		-webkit-transform: translate(253.2%,-149.2%) rotate(-7deg);
	}
	75% {
		-webkit-transform: translate(256%,-139%) rotate(-7deg);
	}
	100% {
		-webkit-transform: translate(180%,-100%) rotate(-15deg);
	}*/
}
.text2{
	-webkit-animation: text2 0.5s linear;	
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes text2{
	0% {
		-webkit-transform: translate(-100%,25%);  
		opacity: 1;
	}
	/*80% {
		-webkit-transform: translate(5%,-2%);  
		opacity: 1;
	}*/
	100% {
		-webkit-transform: translate(0,0);  
		opacity: 1;
	}
}
.button {
	-webkit-animation: button 1s linear infinite;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes button {
	0% {
		-webkit-transform: scale(1);
	}
	50%{
		-webkit-transform: scale(1.3);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
.nm {
	-webkit-animation: nm 2s linear infinite;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes nm {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
	50%{
		opacity: 1;
		-webkit-transform: scale(1.1);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}
.tex {
	-webkit-animation: tex 1s linear infinite;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes tex {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
	50%{
		opacity: 1;
		-webkit-transform: scale(1.2);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}
.scaleFast {
	-webkit-animation: scaleFast 2s ease-in;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes scaleFast {
	0% {
		-webkit-transform: scale(1) translateY(0%);
	}

	100% {
		-webkit-transform: scale(4) translateY(25%);
	}
}
.butto {
	-webkit-animation: button 1s linear infinite;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes button {
	0% {
		-webkit-transform: scale(1);
	}
	50%{
		-webkit-transform: scale(1.5);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
.slideOne {
	-webkit-animation: slideOne 1.5s linear infinite;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes slideOne {
	0% {
		opacity: 0.4;
		-webkit-transform: translateX(600%);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.4;
		-webkit-transform: translateX(2800%);
	}
}
.slideTwo {
	-webkit-animation: slideTwo 1.9s linear infinite;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes slideTwo {
	0% {
		opacity: 0.4;
		-webkit-transform: translateY(0%);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.4;
		-webkit-transform: translateY(-2500%);
	}
}

/**
 * qiche
 */
.yb_dq {
	width: 100%;
	position: absolute;
	top: 17%;
	left: -9%;
	opacity: 0;
	z-index: 0;
}
.page5 .ybdq {
	-webkit-animation: yblight 3.8s linear;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes yblight {
	0%{
		opacity: 0;
/*		width: 23%;
		top: 27%;
		left: 14%;*/
	}
	50% {
		opacity:0.7; 
	}
	100%{
		opacity: 0.4;
	/*	width: 45%;	
		top: 23%;
		left: 14%;*/
	}
}